ol.jobs {
    list-style-type: none;
    padding: 0;
    margin : 0;
   
    .item {
      border-bottom : 1px solid black;
      margin-bottom : 2rem;
      padding-bottom : 2rem;
   
      .title {
        font-size: 1.3em;
        margin-bottom: 1rem;
      }
    }
   
    .item.last {
      border-bottom : none;
    }
  }